body{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
#superior{
    background-color:rgb(32, 28, 28);
    color: rgb(255, 255, 255);
}
#superior span{
    text-align: left;
}
#superior nav{
    text-align: right;
    margin-right: 2em;
    display: inline;
}
#superior nav span{
    margin-left: 1em;
    margin-right: 1em;
}
#inferior{
    background-color: rgb(252, 133, 36);
    padding: 1em;
}
#inferior h3{
    margin: 0%;
    font-weight: bolder;
    display: inline;
}
#inferior h3.negro{
    color: black;
}
#inferior h3.blanco{
    color: white;
}
#inferior nav{
    display: inline;
    text-align: right;
    position: absolute;
    right: 0em;
    margin-right: 2em;
}
#inferior nav span{
    margin-left: 0.5em;
    margin-right: 0.5em;
}
#seccion-bienvenida{
    background-image: url(/ProjIntFront1/img/imagenHeader1.png);
    background-size: cover;
}
h1{
    text-align: right;
    margin-right: 5%;
}
footer.suscripcion{
    background-color: rgb(252, 133, 36);
}
footer.contactos{
    display: inline-block;
}
footer.derechos{
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}